.hero
    background-color: $bg
    &_block
        padding-top: 41px
        padding-bottom: 52px
        display: flex
        align-items: center
        justify-content: space-between
        &_content
            width: 500px
        &__title
            @include bold
            font-size: 41px
            line-height: 55px
            color: $text-color
        &__subtitle
            @include bold
            display: block
            font-size: 20px
            color: $text-color
            margin-top: 45px
        &__img
    &_list
        margin-top: 60px
        display: block
        width: 301px
        padding-left: 0
        &__item
            display: flex
            align-items: center
            list-style-type: none
            margin-top: 30px
            &-none
                margin-top: 24px
        &__ico
            margin-right: 30px
        &__text
            color: $text-color
            font-size: 14px
            font-weight: 400
            line-height: 24px
@media (max-width: 1000px)
    .container
        max-width: 1000px
        width: 88%
    .hero
        &_block
            display: block
            &_content
                width: 100%
@media (max-width: 320px)
    .hero
        &_block
            padding-top: 46px
            display: block
            &__title
                font-size: 24px
                line-height: normal
            &__subtitle
                margin-top: 13px
                font-size: 16px
                line-height: normal
            &_content
                width: 271px
        &_list
            width: 271px
            &__text
                font-size: 12px
                line-height: normal
            &__ico
                margin-right: 15px

                