img
    max-width: 100%
body
    font-family: sans-serif
.container
    width: 1170px
    margin: auto
@media (max-width: 1200px)
    .container
        max-width: 960px
        width: 95%
@media (max-width: 768px)
    .container
        max-width: 750px
        width: 95%
@media (max-width: 567px)
    .navbar
        &-contacts
            display: none
@media(max-width: 320px)
    .container
        width: 277px