a
    text-decoration: none
.navbar
    margin-top: 7px
    margin-bottom: 8px
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &-info
        display: flex
        align-items: center
        flex-direction: row
    &-contacts
        margin-right: 30px
        text-align: right
        &-loc
            display: block
            color: $text-color
            margin-top: 9px
            font-family: "Museo Sans Cyrl -300"
            font-size: 13px
            font-weight: 400
        &-phone
            color: $text-color
            font-family: "Museo Sans Cyrl -700"
            font-size: 20px
            font-weight: 400
    &-button
        background-color: #ffd200
        width: 200px
        height: 50px
        border: none
        border-radius: 10px
        font-size: 13px
@media(max-width: 320px)
    .navbar
        &-logo
            width: 91px
            height: 44px
        &-button
            width: 137px
            height: 39px